/* Reset Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}
.list {
  list-style: none;
}
/* ==================================================================================================================================== */
/* Variables */
:root {
  --backround-page: #ffffff;
  --main-color-text: #434455;
  --secondary-color-text: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;

  --items: 3;
  --retreat: 24px;

  --anim-fast: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ==================================================================================================================================== */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--backround-page);
  color: var(--main-color-text);
}
/* ======================================================================================================================================*/
/*================= Repeating Blocks=================== */
.container {
  min-width: 320px;
  max-width: 426px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================== Header ========================= */
.header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  padding: 24px 0;
  height: 70px;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.header-span {
  color: var(--secondary-color-text);
}
.header-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 40px;

    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-color-text);
  }
}

.header-link {
  position: relative;

  display: block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--secondary-color-text);
  transition: color var(--anim-fast) var(--timing-function);
}
.header-link.current {
  color: var(--hover-color);
}
.header-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.9px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--hover-color);
  border-radius: 2px;
}
.header-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.9px;

  display: block;
  width: 100%;
  height: 4px;

  transform: scale(0);
  border-radius: 2px;
  transition: transform var(--anim-fast) var(--timing-function),
    background-color var(--anim-fast) var(--timing-function);
}
.header-link:hover::before,
.header-link:focus::before {
  background-color: var(--hover-color);
  transform: scale(1);
}

.header-link:hover,
.header-link:focus,
.header-mail-tel:hover,
.header-mail-tel:focus {
  color: var(--hover-color);
}

.header-contacts {
  margin-left: auto;
  font-style: normal;
}
@media only screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

.header-list-contacts {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-list-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--main-color-text);
  }
}
@media only screen and (min-width: 1158px) {
  .header-list-contacts {
    flex-direction: row;
    gap: 40px;

    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.header-mail-tel {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-color-text);
  transition: color var(--anim-fast) var(--timing-function);
}
.menu-buttom-open {
  padding: 0;
  margin-left: auto;
  height: 32px;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .menu-buttom-open {
    display: none;
  }
}
.menu-button__icon {
  stroke: var(--secondary-color-text);
}

/*========================= Footer ============================*/
.footer {
  padding: 96px 0;

  background-color: #2e2f42;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    align-items: center;
    max-width: 526px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    gap: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__wrapper-logo-icon {
    display: flex;
    gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer__wrapper-logo-icon {
    gap: 120px;
    align-items: baseline;
  }
}

.footer-block-logo {
}

@media only screen and (max-width: 767px) {
  .footer-block-logo {
    margin-bottom: 72px;
  }
}
.footer-block-social {
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--accent-color);
}
.footer-text {
  max-width: 268px;
  margin: 0 auto;

  color: #f4f4fd;

  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-span {
  color: #f4f4fd;
}

.footer-social-title,
.footer-form-title,
.footer-form-button {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--backround-page);
}

@media only screen and (max-width: 767px) {
  .footer-social-title,
  .footer-form-title,
  .footer-form-button,
  .footer-block-logo {
    text-align: center;
  }
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

/*============= Footer Form =================*/
.footer-form {
  align-self: start;
}
@media only screen and (max-width: 767px) {
  .footer-form {
    width: 100%;
  }
}
.footer-form-title {
  display: block;
}
@media only screen and (min-width: 768px) {
  .form-wrapper-mail-btn {
    display: flex;
    column-gap: 24px;
  }
}
.footer-form-label {
  position: relative;
  display: block;
}
@media only screen and (max-width: 767px) {
  .footer-form-label {
    margin-bottom: 16px;
  }
}
.footer-label-title {
  position: absolute;
  top: 50%;
  left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--backround-page);
  transform: translateY(-50%);
  transition: background-color var(--anim-fast) var(--timing-function),
    transform var(--anim-fast) var(--timing-function);
}
.footer-form-input {
  padding: 8px 16px;
  height: 40px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--backround-page);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--backround-page);
  border-radius: 4px;

  transition: border-color var(--anim-fast) var(--timing-function);
}
@media only screen and (max-width: 767px) {
  .footer-form-input {
    width: 100%;
    max-width: 398px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    min-width: 264px;
  }
}

.footer-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.footer-form-input:focus + .footer-label-title {
  padding: 0 2px;
  background-color: var(--secondary-color-text);
  transform: translateY(-133%);
}
.footer-form-input:not(:placeholder-shown) + .footer-label-title {
  padding: 0px 2px;

  transform: translateY(-133%);
  background-color: var(--secondary-color-text);
}

.footer-form-button {
  padding: 8px 24px;

  display: flex;
  gap: 16px;
  max-width: 165px;
  height: 40px;

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: background-color var(--anim-fast) var(--timing-function);
}
@media only screen and (max-width: 767px) {
  .footer-form-button {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .footer-form-button {
    margin: 0;
  }
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--hover-color);
}
.footer-bg-icon {
}
.footer-btn-icon {
}
/*================= Footer Form ==================*/

/* ==================== Social Network Icons ========================= */
.list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-list-icons {
  gap: 16px;
}
.list-icon {
  width: 40px;
  height: 40px;
}
.list-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  color: #f4f4fd;
  border-radius: 50%;
  transition: background-color var(--anim-fast) var(--timing-function);
}
.social-icon {
  fill: currentColor;
}

.team-list-link:hover,
.team-list-link:focus {
  background-color: var(--hover-color);
}
/* =============== social network icons ========================= */

/*================================ Repeating Blocks ========================= */

/* ============================================= Main Page ==================================*/
/* ============= Section Hero ============== */
.hero {
  margin: 0 auto;
  padding: 112px 0;
}
@media only screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/main/Hero/bg-hero_mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page/main/Hero/bg-hero_mob@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/main/Hero/bg-hero_tab@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page/main/Hero/bg-hero_tab@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/main/Hero/bg-hero_desk@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page/main/Hero/bg-hero_desk@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 40px 0 112px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    padding: 117px 0 188px 0;
  }
}

.hero-main-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  color: #ffffff;
}
@media only screen and (max-width: 360px) {
  .hero-main-title {
    font-size: 32px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-main-title {
    max-width: 496px;
    margin-bottom: 32px;

    font-size: 56px;
    line-height: 1.07;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-main-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;

  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  transition: background-color var(--anim-fast) var(--timing-function);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}
/* ============== Section Advantages =================== */
.advantages {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }
}

.advantages-block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 112px;

  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1157px) {
  .advantages-block-icon {
    display: none;
  }
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px 0;
}
@media only screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .advantages-list {
    gap: 0 24px;
  }
}

@media only screen and (min-width: 768px) {
  .advantages-item {
    --items: 2;
    flex-basis: calc(
      (100% - var(--retreat) * (var(--items) - 1)) / var(--items)
    );
  }
}
@media only screen and (min-width: 1158px) {
  .advantages-item {
    --items: 4;
    flex-basis: calc(
      (100% - var(--retreat) * (var(--items) - 1)) / var(--items)
    );
  }
}

.advantages-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-color-text);
}
@media only screen and (min-width: 1158px) {
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}
.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-color-text);
}
@media only screen and (min-width: 1158px) {
  .advantages-text {
    font-weight: inherit;
  }
}
/* ================== Section What ===================== */
.what {
  padding-bottom: 120px;
}
@media only screen and (max-width: 1157px) {
  .what {
    display: none;
  }
}
.what-title,
.team-main-title {
  margin-bottom: 72px;

  color: var(--secondary-color-text);

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.what-list {
  display: flex;
  gap: 24px;
}

/* =================== Section Our Team ======================= */
.team {
  padding: 96px 0;

  background-color: #f4f4fd;
}
@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}
.team-list {
  display: flex;
  gap: 24px;
}
@media only screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}
.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-width: 768px) {
  .team-list-item {
    --items: 2;
    flex-basis: calc(
      (100% - var(--retreat) * (var(--items) - 1)) / var(--items)
    );
    max-width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list-item {
    --items: 4;
  }
}

.team-content {
  padding: 32px 16px;
}
.team-title {
  margin-bottom: 8px;

  color: var(--secondary-color-text);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-text {
  margin-bottom: 8px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* ==================== Section Customers ========================= */
.customers {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }
}
.customers-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

.customers-item {
  --retreat: 16px;
  --items: 2;
  flex-basis: calc(100% / var(--items) - var(--retreat) * (var(--items) - 1));
  flex-grow: 1;
  min-height: 88px;
  max-width: 190px;
  border-radius: 4px;
}
@media only screen and (min-width: 768px) {
  .customers-item {
    --items: 3;
    --retreat: 24px;
    max-width: 168px;
  }
}

.customers-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--anim-fast) var(--timing-function);
}
.customers-icon {
  fill: currentColor;
  transition: fill var(--anim-fast) var(--timing-function);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--hover-color);
}
/* ============================ Main Page ============================*/

/* ========================== Portfolio Page ======================== */
/* =========== Section Portfolio =========== */
.potrfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.potrfolio {
  padding: 48px 0;
}
@media only screen and (min-width: 768px) {
  .potrfolio {
    padding: 64px 0px 96px 0px;
  }
}
@media only screen and (min-width: 1158px) {
  .potrfolio {
    padding: 0 0 61px 0;
  }
}
@media only screen and (max-width: 1157px) {
  .header-portfolio {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .header-portfolio-page {
    display: none;
  }
}
.filters-list {
  margin-bottom: 48px;

  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .filters-list {
    margin-bottom: 64px;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1158px) {
  .filters-list {
    margin-bottom: 138px;
  }
}

.filters-button {
  padding: 8px 16px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--accent-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--anim-fast) var(--timing-function),
    background-color var(--anim-fast) var(--timing-function),
    box-shadow var(--anim-fast) var(--timing-function);
  cursor: pointer;
}
@media only screen and (min-width: 1158px) {
  .filters-button {
    padding: 12px 24px;
  }
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: var(--hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .list-cards {
    justify-content: start;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .list-cards {
    justify-content:center;
    row-gap: 69px;
  }
}
.list-card {
  flex-basis: calc(100% - 30px);
}
@media only screen and (min-width: 768px) {
  .list-card {
    --items: 2;
    flex-basis: calc(100% / var(--items) - var(--retreat) * (var(--items) - 1));
	 flex-grow: 1;
  }
}
@media only screen and (min-width: 1158px) {
  .list-card {
    --items: 3;
    flex-basis: calc(100% / var(--items) - var(--retreat) * (var(--items) - 1));
  }
}
.list-card-link {
  width: 100%;
  height: 100%;

  display: block;

  transition: box-shadow var(--anim-fast) var(--timing-function);
}
.list-card-link:hover,
.list-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.wrapper-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px 0px 32px;

  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #f4f4fd;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform var(--anim-fast) var(--timing-function);
}
.list-card-link:hover .overlay,
.list-card-link:focus .overlay {
  transform: translateY(0);
}

.list-card-content {
  padding: 32px 16px;

  border: 1px solid #e7e9fc;
  border-top: none;
}
.list-card-title {
  margin-bottom: 8px;

  color: var(--secondary-color-text);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-card-text {
  color: var(--main-color-text);

  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ========================== Portfolio Page ======================== */

/* ==================== Modal - Window ===================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms var(--timing-function),
    visibility 300ms var(--timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition-delay: 600ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -100%) scale(0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  opacity: 1;

  width: 408px;
  height: 584px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms var(--timing-function) 300ms,
    opacity 300ms var(--timing-function) 300ms;
}
.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--anim-fast) var(--timing-function);
}
.close-modal-icon {
  transition: fill var(--anim-fast) var(--timing-function);
}
.close-modal:hover .close-modal-icon,
.close-modal:focus .close-modal-icon {
  fill: #ffffff;
}
.close-modal:hover,
.close-modal:focus {
  background-color: var(--hover-color);
}

/*======= Form Modal =========*/
.option {
  display: block;
}
.modal-form {
}
.modal-title {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-color-text);
}
.modal-form-label {
  margin-bottom: 8px;
}
.modal-form-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
  cursor: pointer;
}

.modal-form-wrraper-input-icon {
  position: relative;
  margin-bottom: 8px;

  fill: var(--secondary-color-text);
  transition: fill var(--anim-fast) var(--timing-function);
}
.modal-form-input {
  padding: 11px 38px;

  width: 100%;
  height: 40px;

  color: var(--secondary-color-text);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color var(--anim-fast) var(--timing-function);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-input:focus + .modal-form-wrapper-icon {
  fill: var(--accent-color);
}
.modal-form-wrapper-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  fill: var(--secondary-color-text);
  transform: translateY(-50%);
  transition: fill var(--anim-fast) var(--timing-function);
}
.modal-form-icon {
}
.form-textarea-title {
  margin-bottom: 4px;
}
.form-modal-textarea {
  display: block;
  padding: 8px 16px;
  margin-bottom: 16px;

  width: 100%;
  height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--secondary-color-text);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color var(--anim-fast) var(--timing-function);
}
.form-modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #2e2f4266;
}
.form-modal-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-label-policy {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}
.form-link-policy {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--accent-color);
  text-decoration-line: underline;
}
.modal-form-chackbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--anim-fast) var(--timing-function),
    border var(--anim-fast) var(--timing-function);
  cursor: pointer;
}
.modal-input-checkbox:focus + .modal-label-policy > .modal-form-chackbox {
  outline: 2px solid var(--accent-color);
}
.modal-input-checkbox:checked + .modal-label-policy > .modal-form-chackbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.modal-input-checkbox:checked
  + .modal-label-policy
  > .modal-form-chackbox
  > .modal-checkbox-icon {
  opacity: 1;
}
.modal-checkbox-icon {
  opacity: 0;

  transition: opacity var(--anim-fast) var(--timing-function);
}

.modal-form-btn {
  padding: 16px 32px;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--anim-fast) var(--timing-function);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--hover-color);
}
/*======= Form Modal =========*/
/* ========================= Modal - Window ========================== */

/* ================ Mobile - Menu ================== */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 80px 35px 40px 40px;

  width: 100%;
  height: 100%;

  background-color: #fff;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.wrapper-contacts-icons {
  margin-top: auto;
}
.menu-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: 24px;
  height: 24px;

  border: 1px solid #e7e9fc;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--anim-fast) var(--timing-function),
    color var(--anim-fast) var(--timing-function);
}
.menu-button-close:hover,
.menu-button-close:focus {
  background-color: var(--hover-color);
}
.close-modal-icon {
  transition: fill var(--anim-fast) var(--timing-function);
}
.menu-button-close:hover,
.menu-button-close:focus {
  fill: var(--backround-page);
}

.mobile-menu {
}
.mobile-item {
  margin-bottom: 40px;
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-color-text);
  transition: color var(--anim-fast) var(--timing-function);
}
.mobile-link:hover,
.mobile-link:focus {
  color: var(--hover-color);
}
.mobile-link.current {
  color: var(--hover-color);
}
.menu-contacts {
  margin-bottom: 48px;
}

.menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-color-text);
  transition: color var(--anim-fast) var(--timing-function);
}
.menu-contacts-link:hover,
.menu-contacts-link:focus {
  color: var(--accent-color);
}
.menu-contacts-link-mod {
  margin-bottom: 40px;

  display: block;
  max-width: 353px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--accent-color);
}
@media only screen and (max-width: 430px) {
  .menu-contacts-link-mod {
    font-size: 32px;
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 390px) {
  .menu-contacts-link-mod {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 350px) {
  .menu-contacts-link-mod {
    font-size: 25px;
    margin-bottom: 25px;
  }
}

.mobile-menu-icons {
  gap: 40px;
  justify-content: space-between;
  max-width: 328px;
}
@media only screen and (max-width: 350px) {
  .mobile-menu-icons {
    gap: 20px;
  }
}

/* ================ Mobile - Menu ================== */
